/*-- scss:defaults --*/

// fonts
// @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';

//$font-family-sans-serif: "Ubuntu"";
$presentation-heading-color: #556e87;
$presentation-font-size-root: 34px;
$code-block-font-size: 0.6em;
$link-color: #556e87;

/*-- scss:rules --*/

#title-slide .subtitle {
  color: black;
  background-color: white;
  font-size: 1.4em;
}

#title-slide .title {
  color: black;
  background-color: white;
}

#title-slide .quarto-title-authors {
  color: black;
  background-color: white;
}

#title-slide .date {
  color: black;
  background-color: white;
}

details>summary {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

.small {
  font-size: 0.75em;
}

.larger {
  font-size: 1.5em;
}

.largest {
  font-size: 3em;
}

.reveal countdown {
  position: fixed;
  bottom: 0em;
  right: 0em;
  font-size: 40px;
  border: 2px solid;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  user-select: none;
}
